streamlit>=1.36.0
chromadb>=0.5.3
sentence-transformers>=3.0.0
spacy>=3.7.4
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl
networkx>=3.3
pyvis>=0.3.2
openai>=1.40.0
python-dotenv>=1.0.1
